.login{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        input{
            width: 250px;
            height: 30px;
            border: none;
            border-bottom: 1px solid gray;
            margin: 10px;
        }
        button{
            border: 1px solid gray;
            background-color: #999;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: red;
            }
        }
        .errorMessage{
            color: red;
            font-style: italic;
            font-size: 12px;
            margin-top: 10px;
        }
    }
    
    
}